<div class="input-row" ng-form="inputRowForm">
    <p class="se-thinner input-row-title" ng-class="{'required-icon':field.required}">
        {{niTitle}}<span class="input-error-msg se-orange ml-20"
                         ng-show="inputRowForm.someInput.$dirty&&inputRowForm.someInput.$invalid">
        {{inputRowForm.someInput.$error.required&&field.required}}
    </span></p>
    <label class="njw-input height-line-40 border-radius-20 se-border thinner mlr-3"
           ng-class="{
           'ng-invalid':field.check&&inputRowForm.someInput.$invalid,
          'ng-valid':field.check&&inputRowForm.someInput.$valid,
          'ng-pristine':field.check&&inputRowForm.someInput.$pristine,
          'ng-dirty':field.check&&inputRowForm.someInput.$dirty,
          'large':field.large,
          'disabled':field.idDisabled,
          'normal':!field.idDisabled
          }">
        <input placeholder="{{field.placeholder}}"
               ng-model="someModel"
               ng-disabled="{{field.idDisabled}}"
               name="someInput"
               ng-required="!!field.required"
               maxlength="{{field.check.maxlength.value}}"
               ng-if="!field.check.snNumber"
        /><input placeholder="{{field.placeholder}}"
                 ng-model="someModel"
                 ng-disabled="{{field.idDisabled}}"
                 name="someInput"
                 ng-required="!!field.required"
                 ng-if="field.check.snNumber"
                 sn-number="{{field.check.snNumber.value}}"
    /><span class="word-tips" ng-if="field.unit">{{field.unit}}</span>
    </label>
    <p class="se-thinner">{{field.tipsText}}</p>
</div>