<div class="njw-selector">
    <label class="njw-input">
        <input ng-class="{'placeholder':isPlaceholder}"
               readonly
               unselectable="on"
               ng-model="inputValue"
               ng-click="inputClick($event)"
               ng-disabled="isDisable"
        /><span class="arrow-d"></span>
    </label>
    <ul class="njw-selector-list" style="display:none" ng-mouseover="activeOption=undefined" ng-class="{'scroll':options.length>15}">
        <li ng-repeat="option in options"
            data-value="{{option[loopValue]||option[loopName]||option}}"
            ng-click="optionClick($index,option)"
            ng-class="{'active':$index===activeOption}"
        >{{option[loopName]||option}}</li>
    </ul>
</div>