<div class="find-land-content main-bg se-bg-shallow">

    <div class="w1200 mt-40">
        <a class="btn find-land-btn pos-fix" ng-click="findLandClick()"></a><!--我要找地按钮-->
        <div class="find-land-select se-bg-main">
            <!--<div class="fls-item">-->
                <!--<p class="fl fls-item-title bold fs-18">区域</p>-->
                <!--<div class="fls-item-list fs-16">-->
                    <!--<a>全国</a><a>北京</a><a>天津</a><a>河北</a><a>山西</a><a>内蒙古</a><a>辽宁</a><a>吉林</a><a>黑龙江</a><a>上海</a><a>江苏</a><a>浙江</a><a>安徽</a><a>福建</a><a>江西</a><a>山东</a><a>河南</a><a>湖北</a><a>湖南</a><a class="active">广东</a><a>广西</a><a>海南</a><a>重庆</a><a>四川</a><a>贵州</a><a>云南</a><a>西藏</a><a>陕西</a><a>甘肃</a><a>青海</a><a>宁夏</a><a>新疆</a>-->
                <!--</div>-->
                <!--<div class="fls-sub-item-list se-bg-shallow">-->
                    <!--<a>全省</a><a class="active">广州</a><a>韶关</a><a>深圳</a><a>珠海</a><a>汕头</a><a>佛山</a><a>江门</a><a>湛江</a><a>茂名</a><a>肇庆</a><a>惠州</a><a>梅州</a><a>汕尾</a><a>河源</a><a>阳江</a><a>清远</a><a>东莞</a><a>中山</a><a>潮州</a><a>揭阳</a><a>云浮</a>-->
                    <!--<a>阳江</a><a>清远</a><a>东莞</a><a>中山</a><a>潮州</a><a>揭阳</a><a>云浮</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="fls-item not-sub-list">-->
                <!--<p class="fl fls-item-title bold fs-18">分类</p>-->
                <!--<div class="fls-item-list fs-16">-->
                    <!--<a class="active">不限</a><a>耕地</a><a>园地</a><a>林地</a><a>草地</a><a>养殖用地</a><a>商业住宅用地</a><a>工矿仓储用地</a><a>水域</a><a>其他土地</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="fls-item">-->
                <!--<p class="fl fls-item-title bold fs-18">标签</p>-->
                <!--<div class="fls-item-list fs-16">-->
                    <!--<a class="active">不限</a><a>粮食油料类</a><a>水果坚果类</a><a>养殖类</a><a>蔬菜瓜果类</a><a>林木类</a><a>商业住宅类</a><a>工矿仓储类</a><a>其他</a>-->
                <!--</div>-->
                <!--<div class="fls-sub-item-list se-bg-shallow">-->
                    <!--<a>鸡</a><a class="active">鸭</a><a>鹅</a><a>猪</a><a>牛</a><a>羊</a><a>草鱼</a><a>小龙虾</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="fls-item not-sub-list">-->
                <!--<p class="fl fls-item-title bold fs-18">方式</p>-->
                <!--<div class="fls-item-list fs-16">-->
                    <!--<a class="active">不限</a><a>转让</a><a>出租</a><a>转包</a><a>入股</a><a>互换</a><a>其他</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="fls-item not-sub-list">-->
                <!--<p class="fl fls-item-title bold fs-18">面积</p>-->
                <!--<div class="fls-item-list fs-16">-->
                    <!--<a class="active">不限</a><a>10亩以下</a><a>10~100亩</a><a>100~1000亩</a><a>1000~5000亩</a><a>5000亩以上耕地</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="fls-item not-sub-list">-->
                <!--<p class="fl fls-item-title bold fs-18">年限</p>-->
                <!--<div class="fls-item-list fs-16">-->
                    <!--<a class="active">不限</a><a>5年以下</a><a>5~10年</a><a>10~20年</a><a>20~30年</a><a>30~40年</a><a>40年以上</a>-->
                <!--</div>-->
            <!--</div>-->

            <div class="fls-item" ng-repeat="item in selectItems" ng-class="{'not-sub-list':!item.children}">
                <p class="fl fls-item-title bold fs-18">{{item.title}}</p>
                <div class="fls-item-list fs-16">
                    <a ng-repeat="li in item.list"
                       ng-click="selectItemClick(1,$index,item,li);"
                       ng-class="{'active':$index===item.active.list}"
                    >{{li.name}}</a>
                </div>
                <div class="fls-sub-item-list se-bg-shallow">
                    <a ng-repeat="li in item.children"
                       ng-class="{'active':$index===item.active.children}"
                       ng-click="selectItemClick(2,$index,item,li);"
                    >{{li.name}}</a>
                </div>
            </div>

        </div>
    </div>

    <div class="module-list-wrap se-bg-main mt-40 pt-30">
        <div class="w1200 pb-40">

            <div class="fr w282 ">
                <div class="bb-bar" module-caption mc-title="涉农服务" mc-more-text="更多" mc-more-url="/#/agro-service"></div>
                <div news-img class="mb-20" ng-repeat="img in snNewsImg" ni-img="img" ni-bottom="bottom"></div>
                <div class="bb-bar mt-40" module-caption mc-title="{{gjzcNews.caption.title}}" mc-more-url="{{gjzcNews.caption.url}}" mc-more-text="更多" mc-target="_blank"></div>
                <div news-img class="mb-14" ni-img="gjzcNews.img" ni-bottom="bottom"></div>
                <div news-list nl-list="gjzcNews.list"></div>
            </div>

            <div class="find-land-list">
                <!--<div class="bb-bar" module-caption mc-title="优质土地资源" mc-more-url="#some"></div>-->
                <div class="module-tabs bb-bar">
                    <a ng-repeat-start="tab in tabs.list"
                       class="module-tab-item"
                       ng-class="{'active':tabs.current===$index}"
                       ng-click="tabClick(tab,$index)"
                    >{{tab.name}}</a><span ng-repeat-end ng-if="!$last">/</span>
                </div>
                <div module-list ml-list="landRentList"></div>

                <div njw-pager current-page="{{pager.page}}" total-page="{{pager.totalPage}}" pager-renew="pager.reNew" get-list="getListByPage(page)"></div>
            </div>

        </div>
    </div>
    <div class="module-list-wrap mt-20 pt-30" id="findLandForm">
        <div class="w1200 pb-40">
            <!--提交需求form-->
            <div find-land-form></div>
        </div>
    </div>
</div>