<div class="find-land-content pt-40 pb-40 se-bg-shallow">
    <!--免费咨询 预约看地-->
    <div class="find-land-dialog-wrap se-bg-mask pos-fix" ng-show="dialogMsg.show">
        <div class="se-bg-main look-land-dialog">
            <a class="btn pos-ab dis-b icon-x-btn" ng-click="closeDialog()"></a>
            <p class="se-deeper tc fs-18 pb-40">{{dialogMsg.txt}}</p>
            <form class="mt-40">
                <p class="fs-18 se-main mb-14">地址:清远市清城区新城人民一路10号</p>
                <p class="fs-18 se-main mb-30">庄翰:18688887413/0763-3333948</p>
                <!--<p class="ell fs-18 se-main mb-40">清新区石潭镇2000亩超有机蔬菜种植基地优质连片招商</p>-->
                <!--<p class="fs-16 se-thinner mb-14"><span class="se-orange">*</span>手机号</p>-->
                <!--<div class="input-row mb-30">-->
                    <!--<label class="njw-input height-line-40 border-radius-20 se-border thinner" style="width:260px">-->
                        <!--<input placeholder="请输入手机号" ng-model="s1ome"/>-->
                    <!--</label>-->
                <!--</div>-->
                <div class="tc">
                    <a class="btn btn-deeper btn-submit fs-14 height-line-40 border-radius-20 w200 pos-re" ng-click="closeDialog()">确定</a>
                </div>
            </form>
        </div>
    </div>

    <div class="fl-info-header w1200 clearfix pos-re mt-40 mb-40 se-bg-main">
        <!--图片展示层-->
        <div class="fl" slider-landscape s-list="sliderList"></div>

        <div class="fl-info-msg">
            <p class="fs-18 ell">{{landMsg.title}}</p>
            <p class="mt-20"><span class="icon ico_review_pass"></span><span class="icon ico_ident ml-20" ng-show="landMsg.promulgatorType==='个人'"></span></p>
            <p class="se-bg-shallow tr se-shallow mt-20 height-line-40 plr-20"><span class="dis-ib fl">地址编号：{{landMsg.number}}</span><span class="icon icon-time pl-20">{{landMsg.publicTime | date:"yyyy-MM-dd"}}</span><span class="icon icon-looked ml-20 pl-20">{{landMsg.seeNumber}}</span></p>
            <div class="fl-info-msg-list fs-0 mt-20 se-shallow">
                <label class="fs-16 ell mb-20"><span class="se-thinner">所在区域：</span>{{landMsg.paraetArea}} {{landMsg.area}}</label>
                <label class="fs-16 ell mb-20"><span class="se-thinner">土地类型：</span>{{landMsg.paraetType}}</label>
                <label class="fs-16 ell mb-20"><span class="se-thinner">土地面积：</span>{{landMsg.acreage}}{{landMsg.acreageUnit}}</label>
                <label class="fs-16 ell mb-20"><span class="se-thinner">流转方式：</span>{{landMsg.dealMode}}</label>
                <label class="fs-16 ell mb-20"><span class="se-thinner">可流转年限：</span>{{landMsg.dealAge}}年</label>
                <label class="fs-16 ell mb-20"><span class="se-thinner">流转价格：</span>{{landMsg.dealPrice}}</label>
            </div>
            <div class="tc mt-30"><a class="btn btn-main height-line-50 border-radius-30 w200 pos-re" ng-click="showDialog('免费咨询')">免费咨询</a><a class="btn btn-deeper height-line-50 border-radius-30 w200 ml-30 pos-re" ng-click="showDialog('预约看地')">预约看地</a></div>
        </div>
    </div>

    <div class="module-list-wrap map-bg se-bg-main pb-20">
        <div class="w1200 pt-40 fs-16 se-shallow">
            <div class="se-main" module-caption mc-title="土地详情"></div>
            <div class="pb-20">
                <p class="height-line-30 tr icon-land-msg w128 pr-50 mb-40"><span class="dis-ib se-main br-bar c-shallow b-w2 pr-10">土地情况</span></p>
                <div class="pl-50">
                    <div class="mb-14">
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">平整程度：</span>{{landMsg.smoothDegree}}</label>
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">供电条件：</span>{{landMsg.powerSupply}}</label>
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">供水条件：</span>{{landMsg.headWater}}</label>
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">网络条件：</span>{{landMsg.network}}</label>
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">是否通路：</span>{{landMsg.ifAccess}}</label>
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">水源条件：</span>{{landMsg.waterName}}</label>
                        <label class="col-5 dis-ib mb-20"><span class="se-thinner">适合经营：</span>{{landMsg.managementTypes}}</label>
                    </div>

                    <div>
                        <p class="se-thinner dis-ib">地上设施：</p>
                        <p class="fs-0 dis-ib">
                            <span ng-repeat="facility in landMsg.facilityIcons"
                                  class="dis-ib icon-{{facility.icon}} pt-50 plr-30 fs-16"
                            >{{facility.name}}</span>
                            <span ng-if="!landMsg.facilityIcons" class="dis-ib plr-30 fs-16">未知</span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="mt-20">
                <p class="height-line-30 tr icon-land-nature w128 pr-50"><span class="dis-ib se-main br-bar c-shallow b-w2 pr-10">土地性质与权属</span></p>
                <div class="pl-50 mt-40 mb-40">
                    <label class="col-4 dis-ib"><span class="se-thinner">土地性质：</span>{{landMsg.nature||'未知'}}</label>
                    <label class="col-4 dis-ib"><span class="se-thinner">权属类型：</span>{{landMsg.ownership}}</label>
                    <label class="col-4 dis-ib"><span class="se-thinner">权证类型：</span>{{landMsg.warrantType||'未知'}}</label>
                </div>
            </div>
            <div class="mt-20">
                <p class="height-line-30 tr icon-land-ambient w128 pr-50"><span class="dis-ib se-main br-bar c-shallow b-w2 pr-10">周边环境</span></p>
                <div class="pl-50 mt-40 mb-40">
                    <label class="col-2 dis-ib ell mb-20"><span class="se-thinner">交通要道：</span>{{landMsg.highway||'未知'}}</label>
                    <label class="col-2 dis-ib ell mb-20"><span class="se-thinner">服务配套：</span>{{landMsg.serveAssortName||'未知'}}</label>
                    <label class="col-2 dis-ib ell"><span class="se-thinner">产业资源：</span>{{landMsg.industryResource||'未知'}}</label>
                    <label class="col-2 dis-ib ell"><span class="se-thinner">旅游景点：</span>{{landMsg.scenicSpots||'未知'}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="module-list-wrap se-bg-shallow mt-40">
        <div class="w1200">
            <div module-caption mc-title="周边土地资源"></div>
            <div module-list ml-list="landRentList" ml-row-size="4"></div>
        </div>
    </div>

</div>