<div class="main-content">
    <div njw-slider s-list="sliderList" s-auto="{{false}}"></div>
    <div class="main-bg se-bg-shallow pb-40">

        <!--需求信息-->
        <div class="mc-xqxx w1200">

            <!--我要找地step-->
            <div class="look-land-step">
                <a class="btn btn-main look-land-btn fr">我要找地</a>
            </div>

            <!--提交需求-->
            <div class="mc-xqxx-form se-bg-main">
                <form class="se-bg-main">
                    <p class="caption">
                        <span class="dis-ib tr se-thinner bb-bar">热线：{{serverTel}}</span>
                    </p>
                    <div class="input-row">
                        <div njw-selector placeholder="目标地区" options="typeList"
                             option-name="typeName" option-value="type"
                             result="supplierType"></div>
                        <label class="njw-input se-border thinner mlr-3">
                            <input placeholder="需求规模" ng-model="as"/><span class="word-tips">亩</span>
                        </label>
                        <div njw-selector placeholder="经营类型" options="typeList"
                             option-name="typeName" option-value="type"
                             result="supplierType"></div>
                    </div>
                    <div class="input-row">
                        <label class="njw-textarea se-bg-shallow">
                            <textarea placeholder="更多需求" ng-model="some"></textarea>
                        </label>
                    </div>
                    <div class="input-row">
                        <label class="njw-input se-border thinner se-bg-shallow" style="width:368px">
                            <input placeholder="您的手机号" ng-model="s1ome"/>
                        </label>

                        <a class="btn btn-deeper btn-submit fs-14">提交需求</a>
                    </div>
                </form>
            </div>
        </div>

        <!--优质土地资源-->
        <div class="module-list-wrap w1200 se-bg-shallow mt-40">
            <div module-caption mc-title="优质土地资源" mc-more-url="#some"></div>
            <div module-list ml-list="landRentList" ml-row-size="4"></div>
        </div>

        <!--找地案例-->
        <div class="module-list-wrap w1200 se-bg-shallow">
            <div module-caption mc-title="找地案例" mc-more-url="#some"></div>
            <div module-list ml-list="landLookList" ml-row-size="4" ml-type="look"></div>
        </div>

        <!--土地服务-->
        <div land-service mc-title="土地服务" mc-more-url="#some"></div>

        <!--土地资讯-->
        <div class="module-list-wrap w1200 se-bg-shallow mt-40">
            <div module-caption mc-title="土地资讯" mc-more-url="#some"></div>
            <div class="land-news se-bg-main">
                <div class="w370" ng-repeat="item in landNews" ng-class="{'fl':$first,'fr':$last}">
                    <div news-img class="mb-14" ni-img="item.img"></div>
                    <div module-caption mc-title="{{item.caption.title}}" mc-more-url="{{item.caption.url}}" mc-type="more"></div>
                    <div news-list nl-list="item.list"></div>
                </div>
                <div class="ln-middle se-bg-deeper">
                    <div class="se-contrast ln-middle-inner">
                        <p>ANNA WRITE</p>
                        <p class="fs-12">Up unpacked friendly ecstatic humoured do. Ample end one set spoke her.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>