/*我要找地*/
.find-land-content{
    padding-top:1px;
}
.find-land-select{
    padding:40px;
    box-shadow:0 8px 18px -9px rgba(46,165,53,0.5);
}
.fls-item{
    margin-top:10px;
}
.fls-item:first-child{
    margin-top:0;
}
.fls-item-title{
    width:86px;
    letter-spacing: .5em;
}
.fls-item-list{
    padding-left:86px;
}
.fls-item>div>a{
    display: inline-block;
    padding:4px 10px;
}
.fls-item-list > a{
    margin: 0 0 10px 0;
}
.fls-sub-item-list{
    padding: 0 20px;
    margin:10px 0 20px 0;
}
.fls-sub-item-list>a{
    margin:8px 0;
}
.not-sub-list .fls-item-list > a.active,
.fls-sub-item-list>a.active{
    border:1px solid;
    border-radius: 3px;
}

.find-land-list{
    padding-right:306px;
}

.find-land-btn{
    width: 20%;
    max-width: 360px;
    height:120px;
    background: url("/static/images/find_land_btn.png") no-repeat 90% center;
    margin: 90px 0 0 1000px;
    z-index:100;
}
/*地块详情*/

.fl-info-header{
    padding-right:30px;
}

.arrows-btn{
    width:100px;
    height:36px;
    background:url("/static/images/arrows.png");
}
.arrows-btn>.arrows-left,
.arrows-btn>.arrows-right{
    width:50px;
    height:36px;
}
.arrows-btn>.arrows-left:hover{
    background:url("/static/images/arrows_l_on.png") no-repeat left center;
}
.arrows-btn>.arrows-right:hover{
    background:url("/static/images/arrows_r_on.png") no-repeat right center;
}