/*我要找地*/
.find-land-content{
    padding-top:1px;
}
.find-land-select{
    padding:40px;
    box-shadow:0 8px 18px -9px rgba(46,165,53,0.5);
}
.fls-item{
    margin-top:10px;
}
.fls-item:first-child{
    margin-top:0;
}
.fls-item-title{
    width:86px;
    letter-spacing: .5em;
}
.fls-item-list{
    padding-left:86px;
}
.fls-item>div>a{
    display: inline-block;
    padding:4px 10px;
}
.fls-item-list > a{
    margin: 0 0 10px 0;
}
.fls-sub-item-list{
    padding: 0 20px;
    margin:10px 0 20px 0;
}
.fls-sub-item-list>a{
    margin:8px 0;
}
.not-sub-list .fls-item-list > a.active,
.fls-sub-item-list>a.active{
    border:1px solid;
    border-radius: 3px;
}

.find-land-list{
    padding-right:306px;
}

.find-land-btn{
    width: 20%;
    max-width: 360px;
    height:120px;
    background: url("/static/images/btn_find_land.png") no-repeat 90% center;
    margin: 90px 0 0 1000px;
    z-index:100;
}
/*地块详情*/

.fl-info-header{

}


.fl-info-msg{
    margin-left:570px;
    padding:50px 30px;
}
.ico_review_pass{
    background:url("/static/images/ico_review_pass.png") no-repeat left center;
    width:90px;
    height:30px;
}
.ico_ident{
    background:url("/static/images/ico_ident.png") no-repeat left center;
    width:80px;
    height:30px;
}
.icon-time{
    background:url("/static/images/ico_time.png") no-repeat left center;
}
.icon-looked{
    background:url("/static/images/ico_looked.png") no-repeat left center;
}
.fl-info-msg-list{
    padding:40px 30px;
    background: url("/static/images/bg_rectang.png") no-repeat top center;
}
.fl-info-msg-list > label{
    display: inline-block;
    width:50%;
}
.fl-info-msg-list > label > span{
    display: inline-block;
    width:6.5em;
    text-align: right;
}
.icon-land-msg{
    background: url("/static/images/ico_land_msg.png") no-repeat right center;
}
.icon-land-nature{
    background: url("/static/images/ico_land_nature.png") no-repeat right center;
}
.icon-land-ambient{
    background: url("/static/images/ico_land_ambient.png") no-repeat right center;
}

.icon-well{
    background: url("/static/images/ico_well.png") no-repeat top center;
}
.icon-greenhouse{
    background: url("/static/images/ico_greenhouse.png") no-repeat top center;
}
.icon-warehouse{
    background: url("/static/images/ico_warehouse.png") no-repeat top center;
}
.icon-house{
    background: url("/static/images/ico_house.png") no-repeat top center;
}
.icon-sunburn{
    background: url("/static/images/ico_sunburn.png") no-repeat top center;
}
.icon-grow-seedlings{
    background: url("/static/images/ico_grow_seedlings.png") no-repeat top center;
}
.icon-living-room{
    background: url("/static/images/ico_living_room.png") no-repeat top center;
}

.find-land-dialog-wrap{
    top:0;
    left:0;
    z-index:149;
    width:100%;
    height:100%;
}
.look-land-dialog{
    background-image: url("/static/images/bg_look_land.png");
    background-repeat:no-repeat;
    background-position:top center;
    width:312px;
    padding:220px 60px 36px 60px;
    margin:0 auto;
    position:relative;
    top:50%;
    margin-top:-278px;
}
.dialog-close{
    width:40px;
    height:40px;
    background:url("/static/images/btn_delete.png") no-repeat center;
    right:-40px;
    top:-40px;
}