/*slider*/
.slider-dot{background:transparent url("/static/images/dot.png") no-repeat center;width:9px;height:9px;}
.slider-dot.active{background:transparent url("/static/images/dot_on.png") no-repeat center;border:none;width:15px;height:16px}


.release-land-btn,
.border-radius-20,
.border-radius-30,
.border-radius-p50,
.btn-submit,
.njw-textarea,
.fni-info-wrap,
.badge
{
    behavior: url("/PIE.htc");
}
.module-tab-item.active,
.caption-bar{
    background-image:url("/static/images/caption_bar_ie8.png");
}
.module-tab-item{
    min-width: 42px;
}
.module-list-item {
    width: 280px;
    border: 1px solid transparent;
}
.module-list-5 .module-list-item{
    width:222px;
}
.module-list-item:hover{
    border-color:#dcdcdc;
}
.module-flags > span{
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/flag_bg.png", sizingMethod=scale);
}
.se-bg-mask{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80333333,endColorstr=#80333333);
}
.njw-selector-list-arrow:before{
    content:"";
    position:absolute;
    display: inline-block;
    border:11px solid transparent;
    border-bottom-color: #ccc;
    top: -2px;
}
.njw-selector-list > ul {
    border: 1px solid #ccc;
}