.mc-xqxx {
    padding-top: 166px;
    position: relative;
}

.look-land-step {
    height: 200px;
    background: url("/static/images/look_land_step.png") no-repeat center;
    position: absolute;
    margin-top: -240px;
    width: 100%;
}


.land-news{
    padding:40px 36px;
}

.land-news .module-caption{
    padding:0 5px 0 0;
}

.ln-middle{
    margin:0 400px;
    padding:26px 22px;
}
.ln-middle-inner{
    height: 114px;
    padding-top: 280px;
    padding-left: 25px;
    line-height: 1.5;
    padding-right:84px;
}
