.mc-xqxx {
    padding-top: 166px;
    position: relative;
}

.look-land-step {
    height: 200px;
    background: url("/static/images/look_land_step.png") no-repeat center;
    position: absolute;
    margin-top: -240px;
    width: 100%;
}

.mc-xqxx-form {
    background-image: url("/static/images/xqxx.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 430px;
    height: 330px;
    border-radius: 8px;
    overflow: hidden;
}

.mc-xqxx-form > form {
    height: 254px;
    padding: 40px 54px 36px 40px;
}

.mc-xqxx-form .caption {
    background: url("/static/images/doforyou.png") no-repeat left top;
    padding-left: 220px;
}

.mc-xqxx-form .caption > span {
    width: 100%;
    line-height: 27px;
}

.mc-xqxx-form .input-row {
    margin-top: 20px;
}

.mc-xqxx-form .btn-submit {
    border-radius: 20px;
    width: 228px;
    margin-left: 20px;
    position: relative;
}

.land-news{
    padding:40px 36px;
}

.land-news .module-caption{
    padding:0 5px 0 0;
}

.ln-middle{
    margin:0 400px;
    padding:26px 22px;
}
.ln-middle-inner{
    height: 114px;
    padding-top: 280px;
    padding-left: 25px;
    line-height: 1.5;
    padding-right:84px;
}
